<html>
<head>
</head>
<body>
<div class="myfix preloader placeholder-wave mb-5">
<div class="postloader2 myfix placeholder">
<br/>
<center>
<h1 class="h11 text-dark d-none d-md-block" style="z-index:999999999;padding-top:110%;">
<strong class="strongly">Hi! I am S.S Leonard Tyler <br/> Welcome to my author page</strong>
<br/>
<br/>
<br/>
<span class="cardpost1">
<a href="#cards">
<i class="bi bi-chevron-double-down text-dark my-2">
</i>
</a>
</span>
</h1>
</center>
<!-----Wider Screen----->

<!-----Mobile Screen----->
<center>
<h1 class="text-dark d-block d-md-none" style="z-index:999999999;padding-top:135%;">
<strong class="strongly1">Hi! I am S.S Leonard Tyler <br/> Welcome to my author page</strong>
<br/>
<span class="cardpost2">
<a class="cardpost2" href="#cards">
<i class="bi bi-chevron-double-down text-dark my-2">
</i>
</a>
</span>
</h1>
</center>
<!-----Mobile Screen----->
</div>
</div>
<br/>
<br/>
<br/>
</body>
</html>
