<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>





<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<img src="./css/media/woman-g1b583aa98_1280.jpg" class="d-block w-100">
</div>
<div class="carousel-item">
<img src="./css/media/fashion-g99b748f15_1280.jpg" class="d-block w-100">
</div>
<div class="carousel-item">
<img src="./css/media/woman-g9cc5e633c_1280.jpg" class="d-block w-100">
</div>
<div class="carousel-item">
<img src="./css/media/summerfield-g4243d5336_1280.jpg" class="d-block w-100">
</div>
</div>
</div>




<h1 class="text-dark paddingtop30 d-block d-md-none">
<strong class="strongly">Hi! <br/> Welcome to Fashion Season</strong>
</h1>
<h1 class="text-dark paddingtop50 d-none d-md-block">
<strong class="strongly">Hi! <br/> Welcome to Fashion Season</strong>
</h1>




<div id="container myfix placeholder">
<div id="text">
</div>
<div id="cursor">
</div>
</div>

